:root {
    --background: linear-gradient(to left, #222, #111);
    --text: #fff
}

body {
    color: var(--text);
    background: var(--background);
}

.title-div {
    background: var(--background);
}

.invert {
    filter: invert(100%);
}

.apps-item, .status-item, .feed-item, .navbar-item {
    border: 2px solid white;
}

.nav-item-highlight {
    background-color: #222;
}