:root {
    --theme-color: #00fff0;
    --sub-theme-color: orange;
    --accent-color: #2400ff;
    --gradient1: linear-gradient(to right, red, yellow);
    --gradient1-reverse: linear-gradient(to left, red, yellow);
    --gradient2: linear-gradient(to right, var(--theme-color), var(--accent-color));
    --gradient2-reverse: linear-gradient(to left, var(--theme-color), var(--accent-color));
}

body {
    transition: color background-color 0.3s ease-in-out;
    overflow-x: hidden;
}

a {
    color: var(--sub-theme-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.filter {
    transition: filter 0.5s ease-in-out;
}

#footer {
    text-align: center;
    margin: auto;
    margin-top: auto;
    background-color: black;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
    width: 95%;
}

.gradient-1 {
    background: var(--gradient1);
}

.gradient-1-reverse {
    background: var(--gradient1-reverse);
}

.gradient-1-text {
    background: var(--gradient1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.gradient-1-text-reverse {
    background: var(--gradient1-reverse);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.gradient-2 {
    background: var(--gradient2);
}

.gradient-2-reverse {
    background: var(--gradient2-reverse);
}

.gradient-2-text {
    background: var(--gradient2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.gradient-2-text-reverse {
    background: var(--gradient2-reverse);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.title-div-container-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.title-div-container {
    margin: auto;
    width: 90%;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    transition: width 0.5s ease-in-out;
}

.title-div {
    padding: 30px;
    text-align: center;
    border-radius: 15px;
}

.apps-item-container, .status-item-container, .feed-item-container {
    padding: 10px;
}

.apps-item, .feed-item, .navbar-item {
    cursor: pointer;
}

.apps-item:hover, .feed-item:hover, .navbar-item:hover {
    width: calc(80% + 30px);
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar-item {
    padding: 10px;
    border-radius: 15px;
    transition: width 0.5s ease-in-out;
    width: 20%;
    max-width: 100px;
    text-align: center;
}

.navbar-item img {
    padding: 10px;
    vertical-align: middle;
}

.apps-item, .status-item, .feed-item {
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    transition: width 0.5s ease-in-out;
    width: 80%;
}

.apps-search, .status-search, .feed-search {
    margin: auto;
    text-align: center;
}

.styled-dropdown, .styled-button {
    cursor: pointer;
}

.styled-input, .styled-dropdown, .styled-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    border: 2px solid var(--accent-color);
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 16px;
    color: #333;
    outline: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.25s ease-in-out;
}

.styled-input:hover, .styled-input:focus, .styled-dropdown:hover {
    background-color: #eee;
}

.match {
    color: var(--theme-color);
}

.large {
    font-size: 64px;
}

.small {
    font-size: 90%;
}

@media (max-width: 768px) {
    .title-1 {
        font-size: 48px !important;
    }
    .title-2 {
        font-size: 36px !important;
    }
    .title-div-container {
        padding: 25px;
    }
}